@layer base {
  html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "Space Horizon";
    src: url("fonts/SpaceHorizon-Regular.ttf") format("truetype");
  }
  .space {
    font-family: "Space Horizon", sans-serif;
  }
  .btn-grad {
    background-image: linear-gradient(to right, #4776e6 0%, #8e54e9 51%, #4776e6 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
  }
  .scrollTop {
    border-radius: 10px;
    transition: 1s;
  }
  .scrollTop:hover {
    transform: rotate(360deg);
    border-radius: 50%;
  }
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    #navbar {
      display: none;
    }
  }
}
